* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

header {
    margin: 0 auto;
    background-image: url("images/heise-academy-startseite_2.png");
    background-position: top;
    background-size: 120%;
    background-color: #C3281C;
    max-width: 1500px;
    height: 350px;
    border-bottom: 2px solid #394551;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    padding: 15px;
    text-shadow: 2px 2px 3px black;
}

h1 {
    font-size: 75px;
    font-weight: 300;
}

h2 {
    font-size: 35px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}

/* Color Section */
.colors-section {
    padding: 20px 0 10px;
    margin: 0 auto;
    border-bottom: 2px double #394551;
    max-width: 1500px;
}

.colors-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colorbox {
    border: 1px solid #394551;
    height: 75px;
    width: 300px;
    padding: 15px;
}

#academy-red {
    background-color: #C3281C;
    color: white;
}

#light-gray {
    background-color: #EAEAEA;
}

#dark-gray {
    background-color: #394551;
    color: white;
}

#white {
    background-color: #FFFFFF;
}

/* Fonts Section */
.fonts-section {
    max-width: 1500px;
    margin: 0 auto;
    border-bottom: 2px solid #394551;
    padding: 20px 0 10px;
}

.fonts-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fontbox {
    width: 400px;
}

#mono-font {
    font-family: 'Source Code Pro', monospace;
}

#serif-font {
    font-family: 'Source Serif Pro', serif;
}

/* Text Styles Section */
.styles-section {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0 10px;
    border-bottom: 2px solid #394551;
}

.textstylebox {
    padding: 10px;
}

.textstylebox li {
    list-style: none;
    padding-left: 1px;
    font-size: 18px;
}

.textstylebox h1, 
.textstylebox h2, 
.textstylebox p {
    padding: 5px 0;
}